/* You can add global styles to this file, and also import other style files */
html, body
  min-height: 100vh

footer, header
  padding: 1rem
  background-color: var(--bs-primary)
  p, a
    color: var(--bs-secondary)
  a:hover
    color: var(--bs-blue)

h2
  padding-top: 1rem
main
  display: grid
  grid-template-areas: "form" "search" "table"
  grid-template-columns: 1fr
  grid-template-rows: auto
  gap: 1.5rem
  position: relative
  padding: 2rem 0
  width: 90%
  margin: 0 auto

  .form
    legend
      font-size: 1rem !important
    
.table
  padding: 1rem 0
  height: auto
  thead
    background-color: var(--bs-gray-200)
  th, td
    padding: 1rem 0.8rem
    width: calc( 1 * 0.33 )
    word-break: break-all

@media (min-width: 990px)
  header, footer
    height: calc(100vh * 0.1)
    a
      display: block
      flex-flow: column
      align-self: center
  main
    min-height: calc(100vh * 0.8)
    width: 80%
