<section class="table-area">
  <h2>Lista de usuario</h2>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th class="text-primary" scope="col">Nombre</th>
        <th class="text-primary" scope="col">Rol</th>
        <th class="text-primary" scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="col">Harold Daniel Castro Moreno</td>
        <td scope="col">Administrador</td>
        <td scope="col">Activo</td>
      </tr>
      <tr>
        <td scope="col">Harold Daniel Castro Moreno</td>
        <td scope="col">Editor</td>
        <td scope="col">Inactivo</td>
      </tr>
    </tbody>
  </table>
</section>